<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test</title>
    <link rel="stylesheet" href="carousel.css">

</head>
<body>
    <div class="carousel">
        <div class="carousel__container">
            <div class="carousel__item">0</div>
            <div class="carousel__item">1</div>
            <div class="carousel__item">2</div>
            <div class="carousel__item">3</div>
            <div class="carousel__item">4</div>
            <div class="carousel__item">5</div>
            <div class="carousel__item">6</div>
            <div class="carousel__item">7</div>
            <div class="carousel__item">8</div>
            <!-- 나중에 추가하기 원할하게 커라젤 구현을 자바스크립트로 옮기기 -->
        </div>
        <div class="prevBtn carousel__button-prev">&#60;</div>
        <div class="nextBtn carousel__button-next">&#62;</div>

        <div class="carousel__nav">

        </div>
    </div>

<script src="carousel.js"></script>

</body>
</html>