<!DOCTYPE html>
<html>

    <body>

        <form action="/admin/post/cprocess" method="post">
            
            <h2>공지글 작성</h2>
            <p>
                제목 : <input type="text" name="title">
            </p>
            <p>
                <textarea name="contents" placeholder="Write notice..."></textarea>
            </p>
            <p>
                <input type="submit">
            </p>
            <p>
                <a href="/manage">돌아가기</a>
            </p>
        </form>
    </body>

</html>