:root {
    --width : 1920px;
    --height : 1080px;
    --btnWidth : 150px;
    --indicatorWidth: 50px;
    --indicatorHeight: 20px;
}
body {
    overflow:hidden;
    margin: 0;
    background-color: black;
}
.carousel{
    position: relative;
    width: var(--width);
    height: var(--height);
    margin: 0 auto;
}
.carousel__container{
    position: relative;
    margin: 0 auto;
    height : var(--height);
    width : var(--width);
    transition: transform 0.4s ease-in-out;
}
.carousel__item{
    height : var(--height);
    width : var(--width);
    text-align: center;
    font-size: xx-large;
    position: absolute;
    z-index: 0;
}
.carousel__button-prev{
    position: absolute;
    z-index: 1;
    height: var(--height);
    width: var(--btnWidth);
    bottom: calc(var(--height) / 2 - var(--height) / 2);
    background: linear-gradient( to left, transparent, rgba(0, 0, 0, 0.2) );
    opacity: 0;
    transition: opacity .2s;
}
.carousel__button-next{
    position: absolute;
    z-index: 1;
    height: var(--height);
    width: var(--btnWidth);
    left: calc(var(--width) - var(--btnWidth));
    bottom: calc(var(--height) / 2 - var(--height) / 2);
    background: linear-gradient( to right, transparent, rgba(0, 0, 0, 0.2) );
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}
.carousel__button-prev:hover{
    opacity: 1;
}
.carousel__button-next:hover{
    opacity: 1;
}

/* .carousel__item:nth-child(odd){
    background-color: aqua;
}

.carousel__item:nth-child(even){
    background-color: pink;
} */

.carousel__nav{
    position: absolute;
    display: flex;
    left: calc((var(--width)) / 2);
    /* bottom: var(--indicatorHeight); */
    bottom: 100px;
    background-color: red;
}

.carousel__indicator{
    flex: 1;
    background-color: rgba(0, 0, 0, 0.2);
    width: var(--indicatorWidth);
    height: var(--indicatorHeight);
    border-radius: var(--indicatorHeight);

    margin: 4px;
}

.current__carousel{
    background-color: rgba(0, 0, 0, 0.6);
}