.title__container{
    position: absolute;
    font-size: 3vw;
    font-weight: 900;
    color: white;
    font-size: 3.3vw;
    top: 0.7vw;
    left: 5.4vw;
    font-family:'sans-serif';
    text-shadow: 0.15vw 0.15vw 0.15vw black;
}
.clock__container{
    position: absolute;
    right:3.7vw;
    top: 1.1vw;
    font-size: 2.4vw;
    color: snow;
    text-shadow: 0.1vw 0.1vw 0.1vw black;
    font-weight: 900;
}