:root{
    --titleFontSize: 3.3vw;
    --titleTop: 0.7vw;
    --titleLeft: 5.4vw;
    --titleTextShadow: 0.15vw;

    --clockFontSize: 2.4vw;
    --clockRight: 3.7vw;
    --clockTop: 1.1vw;
    --clockTextShadow: 0.1vw;
}

.title__container{
    position: absolute;
    font-weight: 900;
    color: white;
    font-size: var(--titleFontSize);
    top: var(--titleTop);
    left: var(--titleLeft);
    font-family:'sans-serif';
    text-shadow: var(--titleTextShadow) var(--titleTextShadow) var(--titleTextShadow) black;
}
.clock__container{
    position: absolute;
    right: var(--clockRight);
    top: var(--clockTop);
    font-size: var(--clockFontSize);
    color: snow;
    text-shadow: var(--clockTextShadow) var(--clockTextShadow) var(--clockTextShadow) black;
    font-weight: 900;
}