<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>carousel 1</title>
    <style>
        body{
            padding: 0;
        }
        table{
            margin-top: 2vw;
        }
        th{
            padding: 0.7vw 0vw;
        }
        td{
            text-align: center;
            padding: 0.7vw;
        }
    </style>
</head>
<body>
    <div>
        <div class="title" style="font-size: 3vw; text-align: center; margin-bottom: 2vw;">
            <span class="year"></span><span class="month"></span>열생산량 및 판매량
            <span class="js-clock"></span>
        </div>
        
        
        <table border="1" style="width: 90%; margin: 0 auto; font-size: 3vw;">
            <th colspan="2">구분</th>
            <th>전년</th>
            <th>계획</th>
            <th>실적</th>
            <th>계획대비</th>
            <th>전년대비</th>
    
            <tr>
                <td colspan="2">외기온도</td>
                <td class="outsideTemp">-</td>
                <td class="outsideTemp">-</td>
                <td class="outsideTemp">-</td>
                <td class="outsideTemp">-</td>
                <td class="outsideTemp">-</td>
            </tr>
            <tr>
                <td colspan="2">열생산량</td>
                <td class="heatProd">-</td>
                <td class="heatProd">-</td>
                <td class="heatProd">-</td>
                <td class="heatProd">-</td>
                <td class="heatProd">-</td>
            </tr>
            <tr>
                <td rowspan="4">열<br>공<br>급<br>량</td>
                <td>계</td>
                <td class="amount">-</td>
                <td class="amount">-</td>
                <td class="amount">-</td>
                <td class="amount">-</td>
                <td class="amount">-</td>
            </tr>
            <tr>
                
                <td>자체공급</td>
                <td class="selfSupp">-</td>
                <td class="selfSupp">-</td>
                <td class="selfSupp">-</td>
                <td class="selfSupp">-</td>
                <td class="selfSupp">-</td>
            </tr>
            <tr>
                <td>연계공급</td>
                <td class="linkedSupp">-</td>
                <td class="linkedSupp">-</td>
                <td class="linkedSupp">-</td>
                <td class="linkedSupp">-</td>
                <td class="linkedSupp">-</td>
            </tr>
            <tr>
                <td>연계수열</td>
                <td class="linkedSeq">-</td>
                <td class="linkedSeq">-</td>
                <td class="linkedSeq">-</td>
                <td class="linkedSeq">-</td>
                <td class="linkedSeq">-</td>
            </tr>
            <tr>
                <td colspan="2">열판매량</td>
                <td class="heatSales">-</td>
                <td class="heatSales">-</td>
                <td class="heatSales">-</td>
                <td class="heatSales">-</td>
                <td class="heatSales">-</td>
            </tr>
        </table>
    </div>

    <script>


        const outsideTemp = document.querySelectorAll('.outsideTemp'),
              heatProd = document.querySelectorAll('.heatProd'),
              amount = document.querySelectorAll('.amount'),
              selfSupp = document.querySelectorAll('.selfSupp'),
              linkedSupp = document.querySelectorAll('.linkedSupp'),
              linkedSeq = document.querySelectorAll('.linkedSeq'),
              heatSales = document.querySelectorAll('.heatSales');

        function paintPage(json){
            // 외기온도 데이터 입력
            outsideTemp.forEach((e, i) => {
                e.innerText = json.data.outsideTemp[i];
            })
            // 열생산량 데이터 입력
            heatProd.forEach((e, i) => {
                e.innerText = json.data.heatProd[i];
            })
            // 계 데이터 입력
            amount.forEach((e, i) => {
                e.innerText = json.data.amount[i];
            })
            // 자체공급 데이터 입력
            selfSupp.forEach((e, i) => {
                e.innerText = json.data.selfSupp[i];
            })
            // 연계공급 데이터 입력
            linkedSupp.forEach((e, i) => {
                e.innerText = json.data.linkedSupp[i];
            })
            // 연계수열 데이터 입력
            linkedSeq.forEach((e, i) => {
                e.innerText = json.data.linkedSeq[i];
            })
            // 열판매량 데이터 입력
            heatSales.forEach((e, i) => {
                e.innerText = json.data.heatSales[i];
            })
        }

        const json = JSON.parse(localStorage.getItem('json'));

        paintPage(json);

    </script>
    <script src="../clock.js"></script>
</body>
</html>