<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>carousel 2</title>
    <link rel="stylesheet" type="text/css" href="../styles/page.css" />
    <style>
        body{
            margin: 0vw;
            background-image: url('../images/2.png');
            background-size: 100%;
            background-repeat:no-repeat;
        }
        table{
            margin-top: 2vw;
        }
        th{
            padding: 0.7vw 0vw;
        }
        td{
            text-align: center;
            padding: 0.7vw;
        }
    </style>
</head>
<body>
    <div class="clock__container"></div>

    <div>
        <div class="title" style="font-size: 3vw; text-align: center; margin-bottom: 2vw;">
            전일 열공급 및 판매실적
        </div>

        <div style="display: flex; padding: 2vw;">
            <table border="1" style="width: 40%; margin: 0 auto; font-size: 4vw;">
                <th>열생산량</th>
                <th>7125</th>

                <tr>
                    <td>C H P</td>
                    <td>35</td>
                </tr>
                <tr>
                    <td>연 돌</td>
                    <td>485</td>
                </tr>
                <tr>
                    <td>자원회수</td>
                    <td>1156</td>
                </tr>
                <tr>
                    <td>P L B</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>태양열</td>
                    <td>485</td>
                </tr>
            </table>

            <table border="1" style="width: 40%; margin: 0 auto; font-size: 4vw;">
                <th>열공급량</th>
                <th>7125</th>

                <tr>
                    <td>지역공급</td>
                    <td>35</td>
                </tr>
                <tr>
                    <td>지역판매</td>
                    <td>485</td>
                </tr>
                <tr>
                    <td>강남연계</td>
                    <td>1156</td>
                </tr>
                <tr>
                    <td>용인연계</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>판교연계</td>
                    <td>485</td>
                </tr>
            </table>
        </div>
    </div>





    <script src="../scripts/clock.js"></script>
</body>
</html>