:root{
    --width: 1920px;
}
.container{
    background-image: url('/views/src/images/background_nonews.png');
}
.inner__container{
    position: relative;
    left: calc(var(--width) / 100 * 21.1);
}
h2{
    position: absolute;
    top: calc(var(--width) / 100 * 8.7);
    font-size: calc(var(--width) / 100 * 2.3);
    font-weight: 600;
}

.inner-container__1, .inner-container__2{
    position: absolute;
    width: calc(var(--width) / 100 * 55.65);
}
.inner-container__1{
    top: calc(var(--width) / 100 * 16.7);
}
.inner-container__2{
    top: calc(var(--width) / 100 * 30.7);
}

.inner-title__1, .inner-title__2{
    position: absolute;
    font-size: calc(var(--width) / 100 * 2);
    font-weight: 900;
}

.checkbox__container{
    display: flex;
    /* text-align: center; */

    position: absolute;
    left: calc(var(--width) / 100 * 2);
    width: calc(var(--width) / 100 * 55.65);
    top: calc(var(--width) / 100 * 4);

    font-size: calc(var(--width) / 100 * 1.8);

}

.checkboxes{
    flex: 1;
}

input[type="checkbox"]{
    display: none;
}
input[type="checkbox"] + label{
	display: inline-block;
	width: calc(var(--width) / 100 * 1.4);
    height: calc(var(--width) / 100 * 1.4);
	border: calc(var(--width) / 100 * 0.12) solid #767676;
    background-color: #222222;
    border-radius: calc(var(--width) / 100 * 0.4);
}

.check__svg{
    display: none;
    width: 90%;
    height: 90%;
    filter: invert(100%) sepia(6%) saturate(24%) hue-rotate(212deg) brightness(108%) contrast(105%);
}

input[type="checkbox"]:checked ~ label>.check__svg {
    display: block;
}


.result-box{
    font-size: calc(var(--width) / 100 * 1.8);
    border: calc(var(--width) / 100 * 0.12) solid #767676;
    border-radius: calc(var(--width) / 100 * 0.7);

    position: absolute;
    margin: 0vw;

    left: calc(var(--width) / 100 * 2);
    top: calc(var(--width) / 100 * 8);
    width: calc(var(--width) / 100 * 51.65);
    

    padding: calc(var(--width) / 100 * 0.7) calc(var(--width) / 100 * 1);

    background-color: #222222;
    border: calc(var(--width) / 100 * 0.12) solid #767676;
    color: white;


}

.time-input__container{
    position: absolute;
    
    width: calc(var(--width) / 100 * 53.65);
    left: calc(var(--width) / 100 * 2);
    top: calc(var(--width) / 100 * 4);

    display: flex;
}
.time-input{
    flex: 1;
    font-size: calc(var(--width) / 100 * 1.8);
    border: calc(var(--width) / 100 * 0.12) solid #767676;
    border-radius: calc(var(--width) / 100 * 0.7);

    margin: 0vw;
    width: calc(var(--width) / 100 * 1.65);
    

    padding: calc(var(--width) / 100 * 0.7) calc(var(--width) / 100 * 1);

    background-color: #222222;
    border: calc(var(--width) / 100 * 0.12) solid #767676;
    color: white;
    text-align: right;
}
.time-text{
    font-size: calc(var(--width) / 100 * 2.8);
    font-weight: 900;
    margin-right: calc(var(--width) / 100 * 1.3);
    margin-left: calc(var(--width) / 100 * 0.5);
}
.time-text:nth-child(6){
    margin-right: calc(var(--width) / 100 * 0);
}





.confirm-btn{
    position: absolute;
    top: calc(var(--width) / 100 * 43);
    left: calc(var(--width) / 100 * 51.5);
    width: calc(var(--width) / 100 * 6.3);
    height: calc(var(--width) / 100 * 3.2);
    border-radius: calc(var(--width) / 100 * 0.7);;
    font-size: calc(var(--width) / 100 * 1.3);
    background-color: #D8D8D8;
    opacity: 1;
    font-weight: 600;
    transition: 0.1s;
    cursor: pointer;
}



.confirm-btn:hover{
    background-color: #A4A4A4;
}
.link__1{
    position: absolute;
    font-size: calc(var(--width) / 100 * 1.4);

    color: black;
    font-weight: 600;
    opacity: 0.8;
    transition: 0.1s;

    top: calc(var(--width) / 100 * 43.7);
    text-decoration: none;
}
.link__1:hover{
    opacity: 1;
    text-decoration: underline;
}